
div#banner {
    padding: 20vw 0px 15vw;
    background-image: url('../assets/home_top_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

    h1.banner-title {
        text-align: center;
        color: white;
        text-transform: capitalize;
        font-size: calc(26px + 2.5vw);
        font-weight: 900;
    }

    p.sub-title {
        color: white;
        text-align: center;
        font-size: 24px;
        margin-top: 5vw;
        font-weight: 100px;
    }
}
ul.pagination {
    justify-content: flex-end;
    padding-top: 30px;
}

ul.pagination li.selected a {
    color: #666;
}

ul.pagination li {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}


.see-more-link {
    padding: 10px 10px;
    text-align: right;
    a {
        color: #5291C6;
    }
}

div#home-category-section {
    .outer {
        overflow: hidden;
    }
    div.category-item {
        // height: 150px;
        padding: 5vw 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1px;
        cursor: pointer;
        transition: all 0.3s;
        p {
            margin-bottom: 0px;
            font-size: 24px;
            color: white;
            font-weight: 500;
            text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
        }

    }

    #landscapes {
        background: url('../assets/categories/home_category_landscape.png');
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    #architecture {
        background: url('../assets/categories/home_category_architecture.png');
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    #people {
        background: url('../assets/categories/home_category_people.png');
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    #abstract {
        background: url('../assets/categories/home_category_abstract.png');
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    #animals {
        background: url('../assets/categories/home_category_animal.png');
        background-size: cover !important;
        background-repeat: no-repeat;
    }
}

.home #photo-gallery {
    margin-top: 50px;
}

#photo-gallery .see-more-link{
    padding-right: 15px;
}

#home-contribute .section-title {
    text-align: center;
    color: #73CCDC;
    margin-bottom: 0px;
}

#home-contribute .contribute-item {
    background: #073d7f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 10px;
}

#home-contribute .contribute-item h1 {
    color: rgba(255, 255, 255, 0.25);
    margin-bottom: 0px
}

#home-contribute .contribute-item p {
    font-size: 16px;
    width: 250px;
    font-weight: 100;
    margin-left: 10px;
    color: white;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    div#banner {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 130px;
        padding-bottom: 50px;    
        h1.banner-title {
            font-size: 32px;
        }

        p.sub-title {
            font-size: 20px;
        }
    }

    .home #photo-gallery {
        margin-top: 20px;
    }

    div#home-category-section {
        padding: 0px;
        p.section-title {
            padding: 20px;
            margin-bottom: 0px;
        }


        #landscapes {
            background: url('../assets/categories/home_category_landscape_mobile.png');
            background-size: cover !important;
            background-repeat: no-repeat;
        }
        #architecture {
            background: url('../assets/categories/home_category_architecture_mobile.png');
            background-size: cover !important;
            background-repeat: no-repeat;
        }
        #people {
            background: url('../assets/categories/home_category_people_mobile.png');
            background-size: cover !important;
            background-repeat: no-repeat;
        }
        #abstract {
            background: url('../assets/categories/home_category_abstract_mobile.png');
            background-size: cover !important;
            background-repeat: no-repeat;
        }
        #animals {
            background: url('../assets/categories/home_category_animal_mobile.png');
            background-size: cover !important;
            background-repeat: no-repeat;
        }
    }
    div#home-category-section .home-category-content .category-item {
        padding: 0px;
        height: calc(100px + 4vw);
        p {
            font-size: 20px;
        }
    }

}